*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color-text:  #2effff;
    --color-icon:  #ffe609;
    --color-button: rgb(255, 115, 0);
    --color-Linktext:  #003150;
   
  }

  html{
    font-size: 62.5%;
  }